/* App 전역 스타일 */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  overflow-x: hidden;
  /* Scroll Snap Container */
  scroll-snap-type: y proximity;
}

/* 섹션별 스크롤 스냅 */
.home>section {
  scroll-snap-align: start;
}